.title {
  font-size: 3rem;
  color: black;
  margin-bottom: 0px;
}

:global([data-theme="dark"]) .title {
  color: #fff;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
