.hero {
  display: flex;
  gap: 25px;
  background: transparent;
  padding: 0 0 0 180px;
}

.hero__content {
  max-width: 415px;
  width: 100%;
}

.hero__planet {
  position: relative;
  max-width: 821px;
  width: 100%;
  overflow: hidden;
}

.hero__planet img {
  display: block;
  width: 100%;
  height: auto;
}

.content__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  letter-spacing: -0.02em;
  color: var(--color-primary);
  margin: 0;
}

[data-theme="dark"] {
  color: #fff;
}

.content__subtitle {
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
}

.content__description {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: var(--color-text-secondary);
  margin-top: 20px;
}

.content__buttons {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    padding: 80px 20px 0;
    gap: 0;
  }

  .hero__content {
    text-align: center;
  }

  .hero__planet {
    left: 30px;
  }

  .content__buttons {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .hero__planet {
    left: 0;
  }

  .content__title {
    font-size: 60px;
    line-height: 73px;
  }

  .content__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .content__description {
    font-size: 16px;
    line-height: 19px;
  }

  .content__buttons {
    flex-wrap: nowrap;
    gap: 20px;
  }

  .content__buttons > button {
    width: 100%;
  }
}
