.recent-updates {
  background-color: #F3F3F3;
}

.recent-updates__container {
  padding: 42px 96px 77px 96px;
  max-width: 1441px;
  width: 100%;
  margin: 0 auto;
}

.recent-updates__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.recent-updates__card__image {
  width: 320px;
  height: 180px;
}

.recent-updates__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: black;
  margin: 0;
}

.recent-updates__pagination {
  display: flex;
  gap: 10px;
}

.pagination__prev,
.pagination__next {
  display: block;
  background: transparent;
  color: #4E14D0;
  border: 1.5px solid #4E14D0;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}

.pagination__next:hover,
.pagination__prev:hover {
  background: #4E14D0;
}

.pagination__prev:hover > .pagination__icon,
.pagination__next:hover > .pagination__icon {
  background-color: #ffffff;
}

.pagination__icon {
  background-color: #4E14D0;
}

.recent-updates__cards {
  margin: 0 -20px;
}

.recent-updates__card {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  padding: 0 20px;
}

.recent-updates__card__content {
  height: 366px;
}

.recent-updates__card_top {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.recent-updates__card_bottom {
  display: flex;
  justify-content: space-between;
}

.recent-updates__card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: black;
  margin: 13px 0 3px;
  width: 320px;
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.recent-updates__card__excerpt {
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #8d8e94;
  margin-bottom: 13px;
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: auto;
}

.recent-updates__card__date {
  /* font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8d8e94; */
}

.recent-updates__card__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-link);
  gap: 10px;
}

.recent-updates__card__link:hover {
  color: var(--color-text-primary);
  text-decoration: none;
}

@media (max-width: 767px) {
  .recent-updates__container {
    padding: 40px;
  }

  .recent-updates__head {
    justify-content: center;
  }

  .recent-updates__pagination {
    padding-top: 30px;
    padding-bottom: 9px;
    justify-content: center;
  }

  .recent-updates__card_top {
    width: 100%;
  }

  .recent-updates__card {
    width: 100%;
  }

  .recent-updates__card__title {
    width: 100%;
  }

  .recent-updates__card__excerpt {
    width: 100%;
  }

  .recent-updates__card__image {
    width: 100%;
    height: auto;
  }
}
