
.blog-landing-page {
  background-color: #4E14D0;
  padding: 60px 80px;
  min-height: calc(100vh - 60px);

  background-image: url("/img/blog-landing-page-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.blog-title {
  font-size: 60px;
  font-weight: 400;
  font-family: Alice;
  color: #FFFFFF;
}

.blog-subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 60px;
  color: #FFFFFF;
  width: 50%;
}

.landing-page-blog-post {
  gap: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.landing-image-container img {
  width: 100%;
  transition: 0.2s all ease-in-out;
}

.landing-image-container:hover img {
  transform: scale(1.1);
}

.landing-page-blog-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.featured-tag {
  background-color: #040404;
  border-radius: 100px;
  border: 1px solid #040404;
  padding: 6px 14px;
  color: #FFF;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1024px) { 
  .landing-page-blog-post {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .blog-subtitle {
    margin-bottom: 36px;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    width: 100%;
  }
}

@media screen and (max-width: 767px) { 
  .blog-landing-page {
    padding: 16px;
  }

  .blog-title {
    font-size: 48px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 8px;
  }
}