
.adjacent-posts {
  background-color: #F3F3F3;
  padding: 20px 0px 0px 0px;
  cursor: pointer;
}

.related-posts-title {
  color: black;
}

.page-one {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 767px) { 
  .blog-page-related-posts {
    background-color: #F3F3F3;
    padding: 20px 16px 32px 16px;
  }
}