
.related-adjacent-post-item {
  border: 1px solid var(--color-border);
  background-color: #FFF;
  border-radius: 16px;
  padding: 16px;
  height: 130px;
  width: 250px;
}

.related-post-item:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.related-post-item-sublabel {
  padding: 0 26px;
}

.nextContainer {
  justify-content: end;
}