
.blog-post-items {
  padding: 48px 80px;
  background-color: #F3F3F3;
}

.blog-post-row-of-2 {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.blog-post-rows-of-3 {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 47px;
}

.blog-post-rows-of-3 > * {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) { 
  .blog-post-items {
    padding: 48px 16px;
  }

  .blog-post-row-of-2 {
    flex-direction: column;
  }
  
  .blog-post-rows-of-3 {
    display: flex;
    flex-direction: column;
  }
}