.loading-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 41;
  opacity: 0;
  width: 280px;
  animation: fade-in 1000ms linear;
}

.curtain {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 40;
}

.curtain-left {
  animation: swipe-left 1500ms linear forwards;

	width: 100vw;
  height: 80vh;
  background-color: #4E14D0;
  transform:skew(315deg);
  position: absolute;
  right: 39vh;
  top: 0;

}

.curtain-right-base {
  animation: swipe-right 1500ms linear forwards;

  width: 100vw;
  height: 21vh;
  background-color: #4E14D0;
  position: absolute;
  top: 79vh;
  border: none;

}

.curtain-right-top {
  animation: swipe-right 1500ms linear forwards;

  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 80vh solid #4E14D0;
  border-left: 80vh solid transparent
}

@keyframes swipe-left {
  0% {
    transform: translate(0, 0) skew(315deg);
  }

  75% {
    transform: translate(0, 0) skew(315deg);
  }

  100% {
    transform: translate(-100%, -40%) skew(315deg);
  }
}

@keyframes swipe-right {
  0% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 40%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}
