.verticals-section h2, .verticals-section h3, .verticals-section a, .verticals-section p {
  margin: 0px;
  padding: 0px;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}