.custom-footer {
  overflow: hidden;
  background: black;
  position: relative;
  padding: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-conversation-container {
  background-color: #4E14D0;
  margin: 80px;
  gap: 80px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 48px;
  justify-content: space-between;
}

.footer-conversation-container-background {
  background-image: url("/img/new-home-page/footer-background-lines.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 60%;
}

.footer-conversation-title {
  font-weight: 700;
  font-size: 64px;
  font-family: Inter;
  line-height: 100%;
  color: #F3F3F3;
}

.footer-conversation-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer-conversation-social-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #F3F3F3;
}

.footer-conversation-social-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.footer-conversation-social-icon-link {
  width: 56px;
  height: 56px;
}

.footer-conversation-social-icon {
  width: 56px;
  height: 56px;
}

.social-icon-margin {
  margin-right: 14px;
}

.footer__container {
  padding: 40px 80px 60px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 2;
  align-items: stretch;
  max-width: 1441px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__container__logo-part {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 17px;
}

.logo-part__logo {
  width: 100%;
  height: auto;
  display: block;
}

.logo-part__copyright {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8d8e94;
}

.footer__container__learn-part {
  min-width: 140px;
}

.learn-part__title,
.community-part__title,
.more-part__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}

.learn-part__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: nowrap;
}

.learn-part__list > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #8d8e94;
  cursor: pointer;
}

.learn-part__list > a:hover {
  text-decoration: none;
  color: #fff;
}

.footer__container__community-and-more-part {
  max-width: 221px;
  width: 100%;
}

.footer__container__description-part {
  max-width: 310px;
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8d8e94;
}

.community-part__links {
  display: flex;
  gap: 10px;
  margin-bottom: 39px;
}

.community-part__link {
  display: inline-block;
  background: #8d8e94;
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  cursor: pointer;
}

.community-part__link:hover {
  background: #fff;
  text-decoration: none;
}

.more-part__links {
  display: flex;
  gap: 20px;
}

.more-part__link {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #8d8e94;
  cursor: pointer;
}

.more-part__link > i {
  background: #8d8e94;
}

.more-part__link:hover {
  color: #fff;
  text-decoration: none;
}

.more-part__link:hover > i {
  background: #fff;
}

.community-part__link[aria-label="Discord"] {
  mask-image: url("/img/icons/discord.svg");
}

.community-part__link[aria-label="Linked In"] {
  mask-image: url("/img/icons/linkedin.svg");
}

.community-part__link[aria-label="Twitter"] {
  mask-image: url("/img/icons/twitter.svg");
}

.community-part__link[aria-label="Telegram"] {
  mask-image: url("/img/icons/telegram-small.svg");
}

.footer__blured-container {
  position: absolute;
  inset: 0px 0px 0px 0px;
  filter: blur(100px);
}

@media screen and (max-width: 1400px) { 
  .footer-conversation-container-background {
    background-size: 80%;
  }
}

@media screen and (max-width: 1150px) { 
  .footer-conversation-container-background {
    background-size: 100%;
  }
}

@media (max-width: 1200px) {
  .footer__container {
    padding-bottom: 40px;
    flex-wrap: wrap;
  }

  .footer__container__logo-part {
    padding-bottom: 0;
  }

  .footer__container__community-and-more-part {
    margin-right: 0;
  }

  .footer__container__description-part {
    max-width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1000px) { 
  .footer-conversation-title {
    font-size: 48px;
  }

  .footer-conversation-social-text {
    margin: 0px 0 15px 0;
  }
}

@media screen and (max-width: 900px) { 

  .footer-conversation-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-conversation-social-text {
    display: none;
  }

  .footer__container__community-and-more-part {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 39px;
  }
}

@media (max-width: 767px) {
  .footer-conversation-title {
    font-size: 36px;
  }

  .footer-conversation-container {
    margin: 32px;
    padding: 32px;
    align-items: flex-start;
  }


  .footer__container {
    padding: 0 16px 16px 16px;
    display: flex;
  }

  .footer__container__logo-part {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .footer__container__logo-part > img {
    max-width: 200px;
  }

  .footer__container__learn-part {
    width: auto;
    margin-right: auto;
  }

  .footer__container__community-and-more-part {
    width: 157px;
    display: block;
    margin-top: 0px;
  }

  .more-part__links {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 14px;
  }

  .logo-part__copyright {
    margin-top: 8px;
  }

  .footer__container__description-part {
    margin-top: 20px;
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 400px) { 
  .footer-conversation-title {
    font-size: 36px;
  }

  .footer-conversation-social-icon-link {
    width: 42px;
    height: 42px;
  }
  
  .footer-conversation-social-icon {
    width: 42px;
    height: 42px;
  }
}

@media screen and (max-width: 376px) { 
  .footer-conversation-title {
    font-size: 24px;
  }
  .footer-conversation-social-icon-link {
    width: 36px;
    height: 36px;
  }
  
  .footer-conversation-social-icon {
    width: 36px;
    height: 36px;
  }
}
