.custom-footer {
  overflow: hidden;
  background: black;
  position: relative;
  padding: 0;
  box-shadow: none;
}

.footer-conversation-container {
  background-color: #4E14D0;
  margin: 73px 96px;
  display: flex;
  border-radius: 10px;
  padding: 34px 67px 48px 55px;
  justify-content: space-between;
}

@media screen and (max-width: 900px) { 
  .footer-conversation-container {
    flex-direction: column;
  }
}

.footer-conversation-container-background {
  background-image: url("/img/new-home-page/footer-background-lines.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 60%;
}

@media screen and (max-width: 1400px) { 
  .footer-conversation-container-background {
    background-size: 80%;
  }
}

@media screen and (max-width: 1150px) { 
  .footer-conversation-container-background {
    background-size: 100%;
  }
}

.footer-conversation-title {
  font-weight: 400;
  font-size: 64px;
  font-family: Alice;
  line-height: 100%;
}

@media screen and (max-width: 1000px) { 
  .footer-conversation-title {
    font-size: 48px;
  }
}

@media screen and (max-width: 900px) { 
  .footer-conversation-title {
    margin-bottom: 24px;
  }
}

.footer-conversation-social-text {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  margin: 32px 0 15px 0;
}

@media screen and (max-width: 1000px) { 
  .footer-conversation-social-text {
    margin: 0px 0 15px 0;
  }
}

@media screen and (max-width: 900px) { 
  .footer-conversation-social-text {
    display: none;
  }
}

.footer-conversation-social-icon-link {
  width: 56px;
  height: 56px;
  margin-right: 14px;
}

.footer-conversation-social-icon {
  width: 56px;
  height: 56px;
}

.social-icon-margin {
  margin-right: 14px;
}

.footer-conversation-social-icon-container img {
  /* background-color: white; */
}
.footer-conversation-social-icon {
  
}

.footer__container {
  padding: 40px 96px 60px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 2;
  align-items: stretch;
  max-width: 1441px;
  margin: 0 auto;
}

.footer__container__logo-part {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 17px;
  margin-right: auto;
}

.logo-part__logo {
  width: 100%;
  height: auto;
  display: block;
}

.logo-part__copyright {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8d8e94;
}

.footer__container__learn-part {
  max-width: 128px;
  margin-right: 93px;
}

.learn-part__title,
.community-part__title,
.more-part__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}

.learn-part__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.learn-part__list > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #8d8e94;
  cursor: pointer;
}

.learn-part__list > a:hover {
  text-decoration: none;
  color: #fff;
}

.footer__container__community-and-more-part {
  max-width: 221px;
  width: 100%;
  margin-right: 85px;
}

.footer__container__description-part {
  max-width: 310px;
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8d8e94;
}

.community-part__links {
  display: flex;
  gap: 10px;
  margin-bottom: 39px;
}

.community-part__link {
  display: inline-block;
  background: #8d8e94;
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  cursor: pointer;
}

.community-part__link:hover {
  background: #fff;
  text-decoration: none;
}

.more-part__links {
  display: flex;
  gap: 20px;
}

.more-part__link {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #8d8e94;
  cursor: pointer;
}

.more-part__link > i {
  background: #8d8e94;
}

.more-part__link:hover {
  color: #fff;
  text-decoration: none;
}

.more-part__link:hover > i {
  background: #fff;
}

.community-part__link[aria-label="Discord"] {
  mask-image: url("/img/icons/discord.svg");
}

.community-part__link[aria-label="Linked In"] {
  mask-image: url("/img/icons/linkedin.svg");
}

.community-part__link[aria-label="Twitter"] {
  mask-image: url("/img/icons/twitter.svg");
}

.community-part__link[aria-label="Telegram"] {
  mask-image: url("/img/icons/telegram-small.svg");
}

.footer__blured-container {
  position: absolute;
  inset: 0px 0px 0px 0px;
  filter: blur(100px);
}

@media (max-width: 1024px) {
  .footer__container {
    padding-bottom: 40px;
    flex-wrap: wrap;
  }

  .footer__container__logo-part {
    padding-bottom: 0;
  }

  .footer__container__community-and-more-part {
    margin-right: 0;
  }

  .footer__container__description-part {
    max-width: 100%;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .footer__container__logo-part {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer__container__logo-part > img {
    max-width: 200px;
  }

  .footer__container__learn-part {
    width: auto;
    margin-right: auto;
  }

  .footer__container__community-and-more-part {
    width: 157px;
  }

  .more-part__links {
    flex-wrap: wrap;
  }

  .logo-part__copyright {
    margin-top: 40px;
  }

  .footer__container__description-part {
    margin-top: 20px;
    margin-bottom: 2px;
  }
}
