.header {
  position: sticky;
  top: 0;
  background: #f3f3f3;
  z-index: 20;
}

.purple-background {
  background: #4E14D0;
}


.header-container {
  padding: 16px 96px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1441px;
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  display: block;
}

.header__logo img {
  display: inherit;
  margin-right: 42px;
}

.header__nav {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: black;
}

.nav__link:hover {
  color: inherit;
  text-decoration: none;
}

.app-coming-soon-button {
  padding: 8px 16px;
  align-items: center;
  display: flex;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #AC91EA;
  background: #FFF;
  color: #4E14D0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 767px) {
  .header-container {
    padding: 17px 40px 14px;
  }
}
