.demo-page {
  /* height: 1266px; */
  background-color: black;
}

.demo-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 96px;
}

.demo-text {
  padding-top: 168px;
}

.demo-title {
  font-size: 64px;
  font-weight: 800;
  line-height: 110%;

}

.demo-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  padding-top: 1px;
}

.demo-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  padding-top: 15px;
}

.text-green {
  color: #28CB95;
}

.text-purple {
  color: #9B6FFF;
}

.hovering-arrow-container {
  padding-top: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hovering-arrow { 
  animation: bounce 2000ms infinite; 
}

@keyframes bounce { 
  0% { transform: translateY(0); } 
  50% { transform: translateY(-10px); } 
  100% { transform: translateY(0); } 
}

.demo-interactive {
  margin-top: 106px;
}

.demo-interactive-text {
  font-size: 36px;
  font-weight: 700;
}

.demo-interactive-details {
  border: 2px solid #F3F3F3;
  border-radius: 8px;
  margin-top: 27px;
  padding: 11px 27px;
  display: flex;
  align-items: center;
  width: 622px;
  line-height: 130%;
}

.demo-interactive-details-left {
  margin-right: 18px;
}

.demo-interactive-details-title {
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 130%;
  margin-bottom: 4px;
}

.demo-interactive-details-tags {
  display: flex;
}

.demo-interactive-details-tags-first {
  margin-right: 8px;
}

.demo-interactive-details-right {

}

.demo-video {
  margin-top: -75px;
}

.video-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 114%);
  font-weight: 700;
  font-size: 36px;
}

.play-button {
  left: 50%;
  transform: translate(-50%, 128%);
  border-radius: 50%;
  position: absolute;
  width: 180.75px;
  height: 180.75px;
  background: rgba(0, 0, 0, 0.2);
  border: 3px solid #F3F3F3;
  backdrop-filter: blur(4px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.video-thumbnail {
 
}

/* select */
.select-trigger {
  background-color: rgb(0,0,0,0);
  border: none;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 4px solid #F3F3F3;
}

.select-content {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.select-item {
  display: flex;
}

.select-item-image {
  width: 100px;
  height: 100px;
  background-color: #D9D9D9;
}

.select-item-title {
  font-weight: 600;
  font-size: 22px;
}

.select-item-sutitle {
  font-weight: 400;
  font-size: 14px;
}
