
.blog-p > p {
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}

.blog-p > blockquote {
  border-left: 2px solid #4E14D0;
  padding: 0 16px;
}

.blog-p > blockquote > p {
  color: black;
}

.blog-p > h3 {
  display: flex;
  margin: 40px 0 16px 0;
}

.blog-p ul > li {
  list-style-type: disc;
  font-size: 20px;   
}

@media screen and (max-width: 1024px) {
  .blog-p > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .blog-p ul > li {
    list-style-type: disc;
    font-size: 16px;   
  }


  .blog-p > h2 {
    font-size: 24px;
  }
}
