.partner-page {
  background-color: #F3F3F3;
  padding: 0 80px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.partner-text {
  padding: 60px 10px 0px 10px;
  color: black;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.investor {
  margin: 0 12.5px 20px 12.5px;
  width: 122px;
  height: auto;
  max-height: 56px;

  mix-blend-mode: multiply;
  filter: grayscale(100%)
}

.partner-logos-container {
  display: flex;
  justify-content: center;
}

.partner-logos {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.blizzard {
  padding: 0 21px;
}

.big-brain {
  padding: 0 16px;
}

@media screen and (max-width: 767px) { 
  .partner-page {
    padding: 0 40px 30px;
  }
}

@media screen and (max-width: 380px) { 
  .partner-text {
    font-size: 18px;
  }

  .investor {
    margin: 0 4px 10px 6px;
    height: 42px;
  }
}