.primary-button {
  border-width: 0;
  color: white;
  background-color: #4E14D0;
  border-radius: 10px;
  height: 51px;
  padding: 1px 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.primary-button:hover:not([disabled]) {
  transform: scale(1.05);
  box-shadow: 0px 0px 256px 0px rgba(70,20,208,.5);
  cursor: pointer;
  border-radius: 50px;
  transition: transform 300ms ease, box-shadow 600ms 60ms ease, border-radius 600ms ease;
}

.primary-button:disabled,
.primary-button[disabled]{
  border: 1px solid #8D8E94;
  background-color: rgb(0,0,0,0);
  color: #8D8E94;
  height: 38px;
  cursor: auto;
}
