.pill-text {
  display: inline-block;
  padding: 4px 10px;
  border: 1.5px solid var(--color-surface);
  border-radius: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  white-space: nowrap;
}

.grey {
  border-color: var(--color-surface);
  color: var(--color-surface);
}