.launch-page {
  height: 352px;
  background-color: #4E14D0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launch-background {
  background-image: url("/img/new-home-page/launch-background-vector.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

@media screen and (max-width: 1310px) { 
  .launch-background { 
    background-size: 100%; 
  } 
} 

@media screen and (max-width: 950px) { 
  .launch-background { 
    background-size: 120%; 
  } 
} 

.launch-text {
  color: #F3F3F3;
  text-align: center;
}

.launch-title {
  font-size: 52px;
  font-family: Alice;
  line-height: 110%;
  font-weight: 400;
  margin-top: 7.75px;
}

.launch-subtitle {
  font-size: 18px;
}