.nav__link {
  display: flex;
  cursor: pointer;
}

.external-link-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4px;
}

.white-text {
  color: rgba(255, 255, 255, 0.7) !important;
}

.white-text:hover {
  color: #28CB95 !important;
}
