/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --color-body: #ffffff;
  --color-card: #fbfbfb;
  --color-primary: #4e14d0;
  --color-secondary: #e1e1e1;
  --color-text-primary: #323232;
  --color-text-secondary: #8d8e94;
  --color-link: #4e14d0;
  --ifm-color-primary: hsl(262, 49%, 45%);
  --ifm-color-primary-dark: hsl(262, 49%, 42%);
  --ifm-color-primary-darker: hsl(262, 49%, 40%);
  --ifm-color-primary-darkest: hsl(262, 49%, 35%);
  --ifm-color-primary-light: hsl(262, 49%, 49%);
  --ifm-color-primary-lighter: hsl(262, 49%, 50%);
  --ifm-color-primary-lightest: hsl(262, 49%, 56%);
  --ifm-color-navbar-links: hsl(257, 68%, 69%);
  --ifm-font-family-base: "Inter";
  --ifm-font-size-base: 16px;
  --ifm-font-weight-semibold: 400;
  --ifm-font-weight-bold: 700;
  --ifm-code-font-size: 75%;
  --ifm-global-spacing: 2rem;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-alert-padding-vertical: 12px;
  --doc-sidebar-width: 400px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --color-body: #0f0426;
  --color-card: rgba(50, 46, 57, 0.51);
  --color-text-primary: #ffffff;
  --color-text-secondary: #f3f3f3;
  --color-link: #28cb95;
  --ifm-color-primary: hsl(257, 68%, 55%);
  --ifm-color-primary-dark: hsl(257, 68%, 51%);
  --ifm-color-primary-darker: hsl(257, 68%, 48%);
  --ifm-color-primary-darkest: hsl(257, 68%, 42%);
  --ifm-color-primary-light: hsl(257, 68%, 60%);
  --ifm-color-primary-lighter: hsl(257, 68%, 62%);
  --ifm-color-primary-lightest: hsl(257, 68%, 69%);
  --ifm-link-color: hsl(257, 68%, 69%);
  --ifm-menu-color-active: hsl(257, 68%, 69%);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

div[class^="announcementBar_"] {
  background: repeating-linear-gradient(
    35deg,
    hsl(336, 100%, 90%),
    hsl(336, 100%, 90%) 20px,
    hsl(298, 100%, 82%) 10px,
    hsl(298, 100%, 82%) 40px
  );
  height: 2.5em;
  font-family: var(--ifm-font-family-base), sans-serif;
  font-weight: var(--ifm-heading-font-weight);
  font-size: 1.25em;
}
body[data-is_landing_page="true"] nav[aria-label="Main"],
body[data-is_landing_page="true"] footer:not(.custom-footer) {
  display: none;
}

.navbar--dark {
  box-shadow: 0 1px 2px 0 hsla(263, 100%, 100%, 0.9);
  background: radial-gradient(
    circle at 100%,
    hsl(262, 94%, 20%) 2% 0%,
    hsl(262, 49%, 13%) 15% 7%,
    hsl(262, 94%, 24%) 47% 53%,
    hsl(262, 49%, 13%) 80%
  );
}

.alert {
  --ifm-alert-background-color: hsla(262, 80%, 73%, 0.05);
  --ifm-color-info-dark: hsla(262, 80%, 63%, 0.5);
}

.alert--info {
}

.menu {
  font-weight: var(--ifm-font-weight-light);
}

.menu__link {
  line-height: 1em;
  font-size: 14px;
}

.menu__list-item-collapsible {
  font-weight: 600;
  text-transform: uppercase;
}

.footer {
  box-shadow: 0 -1px 2px 0 hsla(263, 100%, 100%, 0.9);
  background: radial-gradient(
    circle at 100%,
    hsl(262, 94%, 20%) 2% 0%,
    hsl(262, 49%, 13%) 15% 7%,
    hsl(262, 94%, 24%) 47% 53%,
    hsl(262, 49%, 13%) 80%
  );
}

.html {
  font-family: var(--ifm-font-family-base), "system-ui";
}

html[data-theme="dark"] {
  background-position: 0px 25vh;
  background: radial-gradient(
    circle at 100%,
    hsla(262, 94%, 80%, 0.1) 2% 0%,
    hsla(262, 69%, 100%, 0.1) 15% 7%,
    hsla(262, 94%, 76%, 0.1) 47% 53%,
    hsla(262, 69%, 87%, 0.1) 80%
  );

  /* any other colors you wish to overwrite */
}

html[data-theme="light"] {
  background-position: 0px 25vh;
  background: radial-gradient(
    circle at 100%,
    hsla(262, 94%, 20%, 0.05) 2% 0%,
    hsla(262, 49%, 13%, 0.05) 15% 7%,
    hsla(262, 94%, 24%, 0.05) 47% 53%,
    hsla(262, 49%, 13%, 0.05) 80%
  );
  /* any other colors you wish to overwrite */
}

.main {
  padding: 12px;
}

@supports (font-variation-settings: normal) {
  .html {
    font-family: "Inter var", "system-ui";
  }
}

[data-theme="light"] img[src$="#gh-dark-mode-only"],
[data-theme="dark"] img[src$="#gh-light-mode-only"] {
  display: none;
}

.bg-body {
  background-color: var(--color-body) !important;
}

.icon__arrow-left {
  display: block;
  width: 16px;
  height: 16px;
  mask-image: url("/img/icons/arrow-left.svg");
  mask-repeat: no-repeat;
}

.icon__arrow-right {
  display: block;
  width: 16px;
  height: 16px;
  mask-image: url("/img/icons/arrow-right.svg");
  mask-repeat: no-repeat;
}

.icon__external-link {
  display: block;
  width: 10px;
  height: 10px;
  mask-image: url("/img/icons/external-link.svg");
  mask-repeat: no-repeat;
}

.icon__burger {
  display: block;
  width: 24px;
  height: 24px;
  mask-image: url("/img/icons/burger.svg");
}

.icon__close {
  display: block;
  width: 15px;
  height: 15px;
  mask-image: url("/img/icons/close.svg");
}

.with-icon {
  display: flex;
  gap: 15px;
  align-items: center;
}
