.recharts-wrapper {
  border-radius: 12px;
}

.recharts-surface {
  border-radius: 12px;
}

.recharts-layer.recharts-cartesian-axis-line {
  border-radius: 12px;
}

.recharts-tooltip-wrapper {
  color: black;
}

.recharts-default-tooltip {
  border-radius: 12px;
}